.app--container{
  display:flex;
  align-items: center;
  flex-direction: column; 
}
.register--container{
  border:3px solid black;
  padding:10px 20px;
  margin-top: 20px;
  border-radius: 10px;
}
.register--input{
  display:block;
  margin-top:10px;
  border-radius: 10px;
  padding: 5px;
  font-family: monospace;
  font-style: normal;
}
.register--title{
  text-align: center;
  margin-bottom:15px;
  font-family:monospace;
}
.register--button{
  border-radius: 10px;
  margin-top:10px;
  margin-left: 30%;
  padding:2%;
}